{% extends "base.html" %}

{% block head %}
{% endblock %}


{% block content %}
<div class="jumbotron text-center">
  <h1>{{ course.title }}</h1>
  <img src='{{course.imgUrl}}' style="width:200px;">
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <table class="table">
        <thead>
          <tr>
            <th scope="col"> {{_("Caracterisiticas")}} </th>
            <th scope="col"> {{_("Detalles")}} </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"> {{_("Fecha de creacion/actualizacion:")}} </th>
            <td> {{ course.dateCreated }} </td>
          </tr>
          <tr>
            <th scope="row"> {{_("Descripcion:")}} </th>
            <td> {{ course.description }} </td>
          </tr>
          <tr>
            <th scope="row">{{_("Numero de Preguntas:")}} </th>
            <td> {{ course.numQuestions }} </td>
          </tr>
          <tr>
            <th scope="row">{{_("Duracion de la prueba:")}} </th>
            <td> {{ course.timeForTest }} </td>
          </tr>
          <tr>
            <th scope="row">{{_("Puntaje Verdadero o Falso:")}}</th>
            <td> {{ course.scoreForTrueFalse }} </td>
          </tr>
          <tr>
            <th scope="row">{{_("Puntaje de seleccion:")}} </th>
            <td> {{ course.scoreForSimpleSelection }} </td>
          </tr>
        </tbody>
      </table>

    </br>

      <div class="d-flex justify-content-center">
        <a class="finCaja " href="{{ url_for('create_test', courseId= course.id) }}">
          <button class="btn btn-outline-secondary">
              Iniciar Test
          </button>
        </a>      
      
        <a class="finCaja " href="{{ url_for('course_editor', courseId= course.id) }}">
          <button class="btn btn-outline-secondary">
            Editar Test
          </button>
        </a>
      </div>

    </br>
    </br>

    </div>
  </div>
</div>
{% endblock %}


{% block linkjs %}
<script src="/static/js/details.js"></script>

{% endblock %}
