{% import './components/forms.html' as forms %}

{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/static/styles/landing.css">
{% endblock %}

{% block content %}
<div class="jumbotron text-center">
  <h1>{{ course.title }}</h1>
  <img src='{{course.imgUrl}}' style="width:200px;">
</div>

<div class="container">
  <div class="row">
    <form method="POST" enctype="multipart/form-data">
      {{ form.hidden_tag() }}

      <div class="row p-4">
        {{ forms.input(form.title, default = course.title) }}
        {{ forms.input(form.description, innerText = course.description) }}
      </div>

      <div class="row p-4"> 
        {{ forms.input(form.scoreForTrueFalse, default = course.scoreForTrueFalse, type= "number") }}
        {{ forms.input(form.scoreForSimpleSelection, default = course.scoreForSimpleSelection, type= "number") }}
      </div>
      
      <div class="row p-4"> 
        {{ forms.input(form.numQuestions, default = course.numQuestions, type="number") }}
        {{ forms.input(form.timeForTest, default = course.timeForTest, type="number") }}
        
      </div>
      <div>
        <!-- <input type="file" name="archivo" accept=".pdf,.jpg,.png"> -->
      </div>

      <div class="row d-inline p-4"> 
        <input type="submit" value="Save changes"/>
      </div>
    </div>
  </form>      
  <div>
    <div class="row d-inline p-4">
      <a class="finCaja" href="{{ url_for('create_question', courseId = course.id) }}">
        <button class="btn btn-outline-secondary">
          Agregar pregunta
        </button>
      </a>
    </div>
    <div>
      <h2>Preguntas de este Certificado</h2>
      {% for q in course.listQuestion%}
      <a class="finCaja" href="{{ url_for('question_editor', questionId = q.id) }}">
        <button class="btn btn-outline-secondary">
          {{q.question}}
        </button>
      </a>
      {% endfor%}
    </div>
  </div>
  </div>
</div>

</div>
{% endblock %}