{% import './components/forms.html' as forms %}

{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/static/styles/landing.css">
{% endblock %}

{% block content %}
<div class="jumbotron text-center">
  <h1>{{ course.title }}</h1>
  <img src='{{course.imgUrl}}' style="width:200px;">
</div>

<div class="container">
  <div class="row">

    <form method="POST">

      <div class="col-sm-12">
        <div>
          {{ forms.input(form.title) }}
          {{ forms.input(form.description) }}
        </div>
        {{ forms.input(form.scoreForTrueFalse) }}
        {{ forms.input(form.scoreForSimpleSelection) }}
        {{ forms.input(form.numQuestions) }}
        {{ forms.input(form.timeForTest) }}

        <!-- <p>
        {{ form.description.label }}<br>
        {{ form.description(class='form-control', value= course.description) }}<br>
        {% for error in form.description.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p> -->
      

    </form>
      
    </div>
    <div>
    
      <a class="finCaja" href="{{ url_for('questionCreator', courseId= course._id) }}">
        <button class="btn btn-outline-secondary">
          Agregar pregunta
        </button>
      </a>
      <div>
        <div>

        </div>
      </div>
    </div>

  </div>



  <a class="finCaja" href="{{ url_for('home') }}">
    <button class="btn btn-outline-secondary">
      Guardar Cambios
    </button>
  </a>

</br>
</br>
</div>
{% endblock %}