{% extends "base.html" %}
{% import './components/button.html' as btn %}

{% block head %}
<link rel="stylesheet" href="/static/styles/landing.css">
{% endblock %}

{%block content%}
	<div class="position-relative overflow-hidden p-10 p-md-10 m-md-10 text-center bg-light caja">
			<div class="col-md-10 p-lg-10 mx-auto  finCaja">
			<h1 class="hola display-4 font-weight-normal centralCaja">{{_("¡Certificate con los mejores")}}!</h1>
			<h2>{{_("Somos especialistas en las principales areas y carreras que moldearan el futuro")}}</h2>
			<a class="finCaja" href="{{ url_for('home') }}">
				<button class="btn btn-outline-secondary">Comenzar
				</button>
			</a>
			</div>
	</div>
	<div class="listaCursos">
		{% for post in cursos %}
		{{btn.curso(post, 'course_details')}}
		{% endfor %}
	</div>
	<h3 class="text-center tituloClientes">{{_('Entre nuestros clientes más importantes estan')}}</h3>
	<div class="listaCursos">
		{% for elem in clientes %}
		<div class="contenedorClientes">
				<img height=100px src="/static/image/{{elem}}.png">
		</div>
		{% endfor %}
	</div>


{%endblock%}