{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/static/styles/perfil.css">
{% endblock %}

{%block content%}
    <h1>{{ _('%(username)s', username=(user.name+" "+user.lastName)) }}</h1>
    <p>Vive en {{ _('%(place)s', place = user.location)}}</p>
    <p>Nacio el {{ _('%(date)s', date = user.birthDate)}}</p>

    {% if certificate %}
    <h2>Estos son los certificados que ha logrado completar:</h2> 

        <div id="certBox">
            {% for cert in certificate %}
            <div id="certIcon">
                <p>
                <img src = "{{ cert.imgUrl }}" height = "100" width = "100">
                <span><h2 id="nombreCert">{{ cert.title }}</h2></span>
                </p>
                </div>
            
            {% endfor %}
        </div>
        {% else %}
        <h2>¡No has hecho ningun certificado aun!</h2>
        <h3>¿Quieres <a href="{{ url_for('certs')}}">Comenzar</a>?</h3>
        {% endif %}
    {% endblock %}