{% extends "base.html" %}

{% import './components/forms.html' as forms %}

{% block content %}
    <div class="container">
        <form method="POST">
        {{ form.hidden_tag() }}

            <div class="col-sm-12">
                {{ forms.input(form.question, default= question.question) }}
                {{ forms.input(form.answer) }}

                {% for l in answer %}

                <div>
                    {{ l.textContent }}
                </div>
                {% endfor %}


                {% for l in form.answer %}
                {{ l() }}
                {% endfor %}


                <a class="finCaja" href="{{ url_for('home') }}">
                    <button class="btn btn-outline-secondary">
                      Guardar Cambios
                    </button>
                  </a>   

                  <!-- {% for a in answer %}
                  
                  {% endfor %} -->
            <!-- score = IntegerField("Score", validators=[DataRequired()])
    typeQuestion = RadioField("Type", validators=[DataRequired()])
    routeImg = StringField("Image route")
    opcionCorrect = StringField("Answer", validators=[DataRequired()])
    opcion2 = StringField("Second option", validators=[DataRequired()])
    opcion3 = StringField("Third option")
    opcion4 = StringField("Forth option")
    submit = SubmitField("Save") -->
            </div>
        </form>
    </div>
{% endblock %}