{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/static/styles/test.css">
{% endblock %}

{% block content %}
    <h1>{{_('Certificación de %(title)s', title = test.title)}}</h1>
    <h2 id="tiempo">{{test.time}}</h2>
    <form action="" method="post" novalidate>
        <div class="examen">
            {% for pregunta in test.preguntas %}
            <div class="pregunta">
                <p>{{ pregunta.pregunta }}</p>
                {% if pregunta.codigo %}
                <code> Puts 'Hello World!'</code>
                <br>
                {% endif %}
                <div class="respuestas">
                {% for respuesta in pregunta.opciones %}
                <div>
                    <input type="radio" name="{{pregunta.name}}" value="{{respuesta}}">
                    <label for="{{respuesta}}">{{respuesta}}</label>
                </div>
                {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
        <button class="btn default-btn">Terminar</button>
    </form>

{% block linkjs %}
<script src="/static/js/test.js"></script>

{% endblock %}
{% endblock %}